@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

/* font family */
$bodyFont: "Poppins";

$fontLibre: "Libre Baskerville", serif;

/* font size */

$headerTop: 12px;

$after: 10px;

$icons: 20px;

$mainSize: 14px;

$subTitle: 18px;

$title: 55px;

$sectionTitle: 24px;

$footerTitles: 16px;
